Criar uma tabela com dados de usuario ficticios


    <table class="table table-striped">
     <thead>
        <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Carolina</td>
            <td>(16)99724-2521</td>     
        </tr>
        <tr>
            <td>2</td>
            <td>Matheus</td>
            <td>(16)99700-2521</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cida</td>
            <td>(16)99700-9621</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Antonio</td>
            <td>(16)99710-9621</td>
        </tr>
    </tbody>
    </table>