@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Numero</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Carolina</td>
            <td>(16)99762-2120 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Contatinho</td>
            <td>(16)9989-2416</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Pai</td>
            <td>(16)9979-2416</td>
        </tr>
    </tbody>
</table>


