@model WebApp_Tarde.Entidades.CategoriaEntidade

<form action="/Categoria/SalvarDados" method="post">

    <div class="card-header">
        <h2>Dados</h2>

    <label>Nome</label>
    <input type="text" name="Nome" />
    <br />
    <label>Ativo</label>
        <label>Ativo</label>
        <select name="Ativo" class="form-control">
            <option value="true">Ativo</option>
            <option value="false">Desativado</option>
        </select>
        <br />

    <br />
    <button type="submit">
        Salvar
    </button>
    </div>
  

  

</form>